<h1>Sample App</h1>
<p><%= t("mailer.user.greeting") %> <%= @user.name %></p>
<p>
<%= t "mailer.user.intro1"%>
</p>
<%= link_to t("mailer.user.activate"), edit_account_activation_url(id: @user.activation_token,
                                                    email: @user.email) %>
