<li>
  <%= gravatar_for user, size: Settings.image.avatar.size %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to t("users.delete.delete"), user, method: :delete,
                                  data: { confirm: t("users.delete.confirm") } %>
  <% end %>
</li>
