$gray_color: #777;
$footer_link_gray_color: #555;
$footer_hover_black_color: #222;
$footer_border_white_color: #eaeaea;
$logo_white_color: #fff;
$error_red_color: red;
$border_top_white_color: #e8e8e8;
$link_hover_color: blue;
$border_left_color: gray;
