<footer class="footer">
  <small>
    <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("static_pages.about.about"), static_pages_about_path %></li>
      <li><%= link_to t("static_pages.contact.contact"), static_pages_contact_path %></li>
      <li><%= link_to t("global.footer.news"), "https://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
